{
  "openapi": "3.0.3",
  "info": {
    "title": "TVmaze API",
    "version": "unversioned",
    "description": "The TVmaze public API: shows, episodes, seasons, people, credits, schedules, and alternate episode orderings. Full vendor surface. Embed-capable operations accept named embed[] relation vocabularies; sibling sub-collection routes return the same content as their embed[] equivalents, with the embed form preferred for multi-relation fetches. No authentication required; the authenticated premium user API is a separate surface outside this document's scope.",
    "license": {
      "name": "CC BY-SA 4.0",
      "url": "https://creativecommons.org/licenses/by-sa/4.0/"
    },
    "contact": {
      "name": "TVmaze API Docs",
      "url": "https://tvmaze.com",
      "email": "support@tvmaze.com"
    }
  },
  "x-netizen": {
    "catalog": {
      "name": "TVmaze",
      "description": "Public TV and streaming metadata service for discovery, schedules, episode tracking, cast/crew data, and update feeds.",
      "tags": [
        "TV",
        "media"
      ],
      "site": "https://www.tvmaze.com",
      "upstream": "https://www.tvmaze.com/api"
    }
  },
  "servers": [
    {
      "url": "https://api.tvmaze.com"
    }
  ],
  "security": [
    {}
  ],
  "paths": {
    "/search/shows": {
      "get": {
        "summary": "Search shows",
        "operationId": "search-tv-shows-query",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "responses": {
          "400": {
            "description": "Missing required parameters: q",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Array of scored show results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShowSearchResult"
                  }
                },
                "example": [
                  {
                    "score": 0.89677495,
                    "show": {
                      "id": 139,
                      "url": "https://www.tvmaze.com/shows/139/girls",
                      "name": "Girls",
                      "type": "Scripted",
                      "language": "English",
                      "genres": [
                        "Drama",
                        "Romance"
                      ],
                      "status": "Ended",
                      "runtime": 30,
                      "averageRuntime": 30,
                      "premiered": "2012-04-15",
                      "ended": "2017-04-16",
                      "officialSite": "http://www.hbo.com/girls",
                      "schedule": {
                        "time": "22:00",
                        "days": [
                          "Sunday"
                        ]
                      },
                      "rating": {
                        "average": 6.5
                      },
                      "weight": 98,
                      "network": {
                        "id": 8,
                        "name": "HBO",
                        "country": {
                          "name": "United States",
                          "code": "US",
                          "timezone": "America/New_York"
                        },
                        "officialSite": "https://www.hbo.com/"
                      },
                      "webChannel": null,
                      "dvdCountry": null,
                      "externals": {
                        "tvrage": 30124,
                        "thetvdb": 220411,
                        "imdb": "tt1723816"
                      },
                      "image": {
                        "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/31/78286.jpg",
                        "original": "https://static.tvmaze.com/uploads/images/original_untouched/31/78286.jpg"
                      },
                      "summary": "<p>This Emmy winning series is a comic look at the assorted humiliations and rare triumphs of a group of girls in their 20s.</p>",
                      "updated": 1704794122,
                      "_links": {
                        "self": {
                          "href": "https://api.tvmaze.com/shows/139"
                        },
                        "previousepisode": {
                          "href": "https://api.tvmaze.com/episodes/1079686",
                          "name": "Latching"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/singlesearch/shows": {
      "get": {
        "summary": "Single best-match show search",
        "operationId": "search-tv-shows-single",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/embedShow"
          }
        ],
        "responses": {
          "200": {
            "description": "Best matching show",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "404": {
            "description": "No show found. Body is the JSON literal null, not the Error envelope."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/lookup/shows": {
      "get": {
        "summary": "Lookup show by external ID",
        "operationId": "search-tv-shows-externalid",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "tvrage",
            "in": "query",
            "description": "TVRage ID (legacy external service)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "thetvdb",
            "in": "query",
            "description": "Takes precedence over imdb when both supplied.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "imdb",
            "in": "query",
            "description": "IMDb ID (tt-prefixed)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "301": {
            "description": "Matched -- the wire contract is a redirect, not a body.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "No lookup key supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No show found for given external ID. Body is the JSON literal null."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/search/people": {
      "get": {
        "summary": "Search people",
        "operationId": "search-person",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of scored person results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PersonSearchResult"
                  }
                },
                "example": [
                  {
                    "score": 0.5,
                    "person": {
                      "id": 329562,
                      "url": "https://www.tvmaze.com/people/329562/lauren-conn",
                      "name": "Lauren Conn",
                      "country": null,
                      "birthday": null,
                      "deathday": null,
                      "gender": "Female",
                      "image": {
                        "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/372/931116.jpg",
                        "original": "https://static.tvmaze.com/uploads/images/original_untouched/372/931116.jpg"
                      },
                      "updated": 1636012993,
                      "_links": {
                        "self": {
                          "href": "https://api.tvmaze.com/people/329562"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "summary": "TV broadcast schedule",
        "operationId": "calendar-tv-schedule-broadcast",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/date"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of scheduled episodes with a flat embedded show (ScheduleEntry).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleEntry"
                  }
                },
                "example": [
                  {
                    "id": 3606294,
                    "url": "https://www.tvmaze.com/episodes/3606294/way-too-early-2026-06-01-episode-105",
                    "name": "Episode 105",
                    "season": 2026,
                    "number": 105,
                    "type": "regular",
                    "airdate": "2026-06-01",
                    "airtime": "05:00",
                    "airstamp": "2026-06-01T09:00:00+00:00",
                    "runtime": 60,
                    "rating": {
                      "average": null
                    },
                    "image": null,
                    "summary": "<p>Trump Spends Hours Posting Memes on Social Media</p>",
                    "show": {
                      "id": 15308,
                      "url": "https://www.tvmaze.com/shows/15308/way-too-early",
                      "name": "Way Too Early",
                      "type": "News",
                      "language": "English",
                      "genres": [],
                      "status": "Running",
                      "runtime": 60,
                      "averageRuntime": 59,
                      "premiered": "2009-07-27",
                      "ended": null,
                      "officialSite": "http://www.msnbc.com/way-too-early",
                      "schedule": {
                        "time": "05:00",
                        "days": [
                          "Monday",
                          "Tuesday",
                          "Wednesday",
                          "Thursday",
                          "Friday"
                        ]
                      },
                      "rating": {
                        "average": null
                      },
                      "weight": 77,
                      "network": {
                        "id": 201,
                        "name": "MS NOW",
                        "country": {
                          "name": "United States",
                          "code": "US",
                          "timezone": "America/New_York"
                        },
                        "officialSite": "https://www.ms.now/live"
                      },
                      "webChannel": null,
                      "dvdCountry": null,
                      "externals": {
                        "tvrage": null,
                        "thetvdb": 282682,
                        "imdb": null
                      },
                      "image": {
                        "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/619/1549472.jpg",
                        "original": "https://static.tvmaze.com/uploads/images/original_untouched/619/1549472.jpg"
                      },
                      "summary": "<p>The fast-paced program brings viewers everything they need to know to start their days--from news and politics to sports and pop culture.</p>",
                      "updated": 1782992474,
                      "_links": {
                        "self": {
                          "href": "https://api.tvmaze.com/shows/15308"
                        },
                        "previousepisode": {
                          "href": "https://api.tvmaze.com/episodes/3629209",
                          "name": "Episode 128"
                        },
                        "nextepisode": {
                          "href": "https://api.tvmaze.com/episodes/3657518",
                          "name": "Episode 129"
                        }
                      }
                    },
                    "_links": {
                      "self": {
                        "href": "https://api.tvmaze.com/episodes/3606294"
                      },
                      "show": {
                        "href": "https://api.tvmaze.com/shows/15308",
                        "name": "Way Too Early"
                      }
                    }
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Invalid country code or date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/schedule/web": {
      "get": {
        "summary": "Streaming/web channel schedule",
        "operationId": "calendar-tv-schedule-web",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/webScheduleCountry"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of scheduled web episodes. Each is a plain Episode whose show is always present under _embedded.show -- a different envelope than /schedule's flat ScheduleEntry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid web-channel locality value or date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/schedule/full": {
      "get": {
        "summary": "Full schedule -- all future episodes known to TVmaze",
        "operationId": "calendar-tv-schedule-aggregate",
        "tags": [
          "Schedule"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Array of all known future scheduled episodes. Show is intrinsic _embedded.show, always populated (same shape as /schedule/web).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows": {
      "get": {
        "summary": "Paginated index of all shows",
        "operationId": "tv-series-list",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of shows for the requested page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Show"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NoMorePagesShows"
          },
          "400": {
            "description": "Invalid page value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}": {
      "get": {
        "summary": "Get show by ID",
        "operationId": "tv-series-details",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          },
          {
            "$ref": "#/components/parameters/embedShow"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid embed type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Show object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/episodes": {
      "get": {
        "summary": "List all episodes for a show",
        "operationId": "tv-series-episodes-list",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          },
          {
            "$ref": "#/components/parameters/specialsShow"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of episodes. Without specials, Returns the same content as /shows/{id}?embed[]=episodes; prefer the embed form when fetching multiple relations in one request. With specials=1 the list additionally includes special episodes -- the one capability the embed form does not serve.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/seasons": {
      "get": {
        "summary": "List seasons for a show",
        "operationId": "tv-series-seasons-list",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of seasons. Returns the same content as /shows/{id}?embed[]=seasons; prefer the embed form when fetching multiple relations in one request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Season"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/cast": {
      "get": {
        "summary": "Get cast for a show",
        "operationId": "tv-series-credits-cast",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of cast entries. Returns the same content as /shows/{id}?embed[]=cast; prefer the embed form when fetching multiple relations in one request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastMember"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/crew": {
      "get": {
        "summary": "Get crew for a show",
        "operationId": "tv-series-credits-crew",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of crew entries. Returns the same content as /shows/{id}?embed[]=crew; prefer the embed form when fetching multiple relations in one request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrewMember"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/akas": {
      "get": {
        "summary": "Get alternate names (AKAs) for a show",
        "operationId": "tv-series-alternative-titles",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of AKA entries. Returns the same content as /shows/{id}?embed[]=akas; prefer the embed form when fetching multiple relations in one request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Aka"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/images": {
      "get": {
        "summary": "Get images for a show",
        "operationId": "tv-series-images",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of image objects. Returns the same content as /shows/{id}?embed[]=images; prefer the embed form when fetching multiple relations in one request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShowImage"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/alternatelists": {
      "get": {
        "summary": "Get alternate episode lists (EpisodeGroups) for a show",
        "operationId": "tv-episodegroup-byseries",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of alternate lists. Returns the same content as /shows/{id}?embed[]=alternatelists; prefer the embed form when fetching multiple relations in one request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlternateList"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/episodebynumber": {
      "get": {
        "summary": "Get single episode by season and number",
        "operationId": "tv-series-episodes-bynumber",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "Episode number within the season",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Missing required parameters: season / number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Episode object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "404": {
            "description": "Episode not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "name": "Not Found",
                  "message": "Unknown episode",
                  "code": 0,
                  "status": 404
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/shows/{id}/episodesbydate": {
      "get": {
        "summary": "Get episodes that aired on a specific date",
        "operationId": "tv-series-episodes-bydate",
        "tags": [
          "Shows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/showId"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Airdate to match (ISO 8601, YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Missing required parameters: date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Array of episodes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/seasons/{id}": {
      "get": {
        "summary": "Get a season",
        "operationId": "tv-season-details",
        "tags": [
          "Seasons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/seasonId"
          },
          {
            "$ref": "#/components/parameters/embedSeason"
          }
        ],
        "responses": {
          "200": {
            "description": "Season object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/seasons/{id}/episodes": {
      "get": {
        "summary": "List episodes for a season",
        "operationId": "tv-season-episodes-list",
        "tags": [
          "Seasons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/seasonId"
          },
          {
            "$ref": "#/components/parameters/embedEpisode"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of episodes, specials always included. Returns the same content as /seasons/{id}?embed[]=episodes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/episodes/{id}": {
      "get": {
        "summary": "Get episode by ID",
        "operationId": "tv-episode-details",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/episodeId"
          },
          {
            "$ref": "#/components/parameters/embedEpisode"
          }
        ],
        "responses": {
          "200": {
            "description": "TV Episode object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/episodes/{id}/guestcast": {
      "get": {
        "summary": "Get guest cast for an episode",
        "operationId": "tv-episode-credits-guestcast",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/episodeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of guest cast entries. Returns the same content as /episodes/{id}?embed[]=guestcast. This route itself ignores any embed parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastMember"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/episodes/{id}/guestcrew": {
      "get": {
        "summary": "Get guest crew for an episode",
        "operationId": "tv-episode-credits-guestcrew",
        "tags": [
          "Episodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/episodeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of guest crew entries. Returns the same content as /episodes/{id}?embed[]=guestcrew. This route itself ignores any embed parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GuestCrewMember"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/people": {
      "get": {
        "summary": "Paginated index of all people",
        "operationId": "person-list",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of person objects for the requested page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NoMorePagesPeople"
          },
          "400": {
            "description": "Invalid page value for the people index.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "summary": "Get person by ID",
        "operationId": "person-details",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          },
          {
            "$ref": "#/components/parameters/embedPerson"
          }
        ],
        "responses": {
          "200": {
            "description": "Person object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/people/{id}/castcredits": {
      "get": {
        "summary": "Get cast credits for a person",
        "operationId": "person-credits-cast",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          },
          {
            "$ref": "#/components/parameters/embedCastCredit"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of cast credit entries. Returns the same content as /people/{id}?embed[]=castcredits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastCredit"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/people/{id}/crewcredits": {
      "get": {
        "summary": "Get crew credits for a person",
        "operationId": "person-credits-crew",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          },
          {
            "$ref": "#/components/parameters/embedCrewCredit"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of crew credit entries. Returns the same content as /people/{id}?embed[]=crewcredits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrewCredit"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/people/{id}/guestcastcredits": {
      "get": {
        "summary": "Get guest cast credits for a person",
        "operationId": "person-credits-guestcast",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/personId"
          },
          {
            "$ref": "#/components/parameters/embedGuestCastCredit"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of guest cast credit entries, each linking to episode and character. Returns the same content as /people/{id}?embed[]=guestcastcredits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GuestCastCredit"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/alternatelists/{id}": {
      "get": {
        "summary": "Get a specific alternate episode list (EpisodeGroup)",
        "operationId": "tv-episodegroup-details",
        "tags": [
          "EpisodeGroups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/alternateListId"
          },
          {
            "$ref": "#/components/parameters/embedAlternateList"
          }
        ],
        "responses": {
          "200": {
            "description": "Alternate list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternateList"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/alternatelists/{id}/alternateepisodes": {
      "get": {
        "summary": "Get alternate episodes within an alternate list (EpisodeGroup)",
        "operationId": "tv-episodegroup-episodes-list",
        "tags": [
          "EpisodeGroups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/alternateListId"
          },
          {
            "$ref": "#/components/parameters/embedAlternateEpisode"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of alternate episode entries. Returns the same content as /alternatelists/{id}?embed[]=alternateepisodes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlternateEpisode"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/characters/{id}": {
      "get": {
        "summary": "Get a character by ID",
        "operationId": "person-character-details",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/characterId"
          }
        ],
        "responses": {
          "200": {
            "description": "Character object. The only route to a character's image when traversing from a person: person-anchored credits carry character as a name+href link without an image; only show-anchored CastMember embeds the full object. Not documented by the vendor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/updates/shows": {
      "get": {
        "summary": "Get show update timestamps",
        "operationId": "tv-series-updates-list",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/since"
          }
        ],
        "responses": {
          "200": {
            "description": "Map of show ID (string) to Unix timestamp of last update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesMap"
                },
                "example": {
                  "81": 1783039758,
                  "254": 1782985585
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/updates/people": {
      "get": {
        "summary": "Get people update timestamps",
        "operationId": "person-updates-list",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/since"
          }
        ],
        "responses": {
          "200": {
            "description": "Map of person ID (string) to Unix timestamp of last update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesMap"
                },
                "example": {
                  "8": 1782249552,
                  "16": 1781288907
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "Resource not found. Error envelope with an empty message.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "name": "Not Found",
              "message": "",
              "code": 0,
              "status": 404
            }
          }
        }
      },
      "NoMorePagesShows": {
        "description": "Requested page is past the end of the shows index; the body is an empty array.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Show"
              },
              "maxItems": 0
            },
            "example": []
          }
        }
      },
      "NoMorePagesPeople": {
        "description": "Requested page is past the end of the people index; the body is an empty array.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Person"
              },
              "maxItems": 0
            },
            "example": []
          }
        }
      },
      "RateLimited": {
        "description": "Rate limited. Enforced per IP address; honor the Retry-After header.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer",
              "example": 7
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "name": "Too Many Requests",
              "message": "Please take it easy",
              "code": 0,
              "status": 429
            }
          }
        }
      }
    },
    "parameters": {
      "showId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "TVmaze show ID",
        "schema": {
          "type": "integer"
        }
      },
      "episodeId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "TVmaze episode ID",
        "schema": {
          "type": "integer"
        }
      },
      "seasonId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "TVmaze season ID",
        "schema": {
          "type": "integer"
        }
      },
      "personId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "TVmaze person ID",
        "schema": {
          "type": "integer"
        }
      },
      "alternateListId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Alternate episode list (EpisodeGroup) ID",
        "schema": {
          "type": "integer"
        }
      },
      "characterId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "TVmaze character ID",
        "schema": {
          "type": "integer"
        }
      },
      "q": {
        "name": "q",
        "in": "query",
        "required": true,
        "description": "Search query string",
        "schema": {
          "type": "string"
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Zero-based page number for paginated index endpoints. Pages are ID-ranged, not row-counted: a page covers an ID interval and may contain fewer items than the interval width.",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        }
      },
      "date": {
        "name": "date",
        "in": "query",
        "required": false,
        "description": "ISO 8601 date string (YYYY-MM-DD). Defaults to today.",
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "countryCode": {
        "name": "country",
        "in": "query",
        "required": false,
        "description": "ISO 3166-1 alpha-2 country code. Defaults to US.",
        "schema": {
          "type": "string",
          "pattern": "^[A-Z]{2}$"
        }
      },
      "webScheduleCountry": {
        "name": "country",
        "in": "query",
        "required": false,
        "description": "Web-channel locality filter, tri-state: omit for local+global; ISO code for that country's local channels only; empty string for global channels only.",
        "schema": {
          "type": "string",
          "pattern": "^([A-Z]{2}|global)?$"
        }
      },
      "since": {
        "name": "since",
        "in": "query",
        "required": false,
        "description": "Rolling window filter measured back from request time -- not calendar-aligned (month means roughly the last 30 days, not since the 1st). CAUTION: invalid values are silently ignored and return the unfiltered result rather than an error.",
        "schema": {
          "type": "string",
          "enum": [
            "day",
            "week",
            "month"
          ]
        }
      },
      "specialsShow": {
        "name": "specials",
        "in": "query",
        "required": false,
        "description": "Include special episodes in the list. Omitting the parameter and specials=0 are equivalent. This is the one capability of this endpoint that ?embed[]=episodes does not serve.",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "default": 0
        }
      },
      "embedShow": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed related resources inline. Repeatable array parameter: embed[]=a&embed[]=b.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/ShowEmbedRelation"
          }
        }
      },
      "embedEpisode": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed episode-related resources inline. Repeatable array parameter.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/EpisodeEmbedRelation"
          }
        }
      },
      "embedSeason": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed season-related resources inline. Repeatable array parameter.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/SeasonEmbedRelation"
          }
        }
      },
      "embedPerson": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed person-related resources inline. Repeatable array parameter.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/PersonEmbedRelation"
          }
        }
      },
      "embedAlternateList": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed alternate-list-related resources inline. Repeatable array parameter.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/AlternateListEmbedRelation"
          }
        }
      },
      "embedCastCredit": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed related resources inline. Repeatable array parameter. CAUTION: on a person with zero cast credits, embed validation is skipped -- any value returns 200 []; a 200 does not prove the embed value was valid.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CastCreditEmbedRelation"
          }
        }
      },
      "embedCrewCredit": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed crew-credit-related resources inline. Repeatable array parameter. CAUTION: on an empty result, embed validation is skipped -- any value returns 200 [].",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CrewCreditEmbedRelation"
          }
        }
      },
      "embedGuestCastCredit": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed guest-cast-credit-related resources inline. Repeatable array parameter. CAUTION: on an empty result, embed validation is skipped -- any value returns 200 [].",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/GuestCastCreditEmbedRelation"
          }
        }
      },
      "embedAlternateEpisode": {
        "name": "embed[]",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": true,
        "description": "Embed alternate-episode-related resources inline. Repeatable array parameter.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/AlternateEpisodeEmbedRelation"
          }
        }
      }
    },
    "schemas": {
      "Network": {
        "type": "object",
        "example": {
          "id": 4,
          "name": "FOX",
          "country": {
            "name": "United States",
            "code": "US",
            "timezone": "America/New_York"
          },
          "officialSite": "https://www.fox.com/"
        },
        "description": "A broadcast TV network",
        "properties": {
          "id": {
            "type": "integer",
            "example": 4
          },
          "name": {
            "type": "string",
            "example": "FOX"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "example": {
              "name": "United States",
              "code": "US",
              "timezone": "America/New_York"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ]
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://www.fox.com/"
          }
        }
      },
      "WebChannel": {
        "type": "object",
        "example": {
          "id": 366,
          "name": "Okko",
          "country": {
            "name": "Russian Federation",
            "code": "RU",
            "timezone": "Asia/Kamchatka"
          },
          "officialSite": "https://okko.tv/"
        },
        "description": "A streaming or web-based channel",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ]
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "Country": {
        "type": "object",
        "example": {
          "name": "United States",
          "code": "US",
          "timezone": "America/New_York"
        },
        "description": "Country with timezone",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone name"
          }
        }
      },
      "Image": {
        "type": "object",
        "example": {
          "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/1/2600.jpg",
          "original": "https://static.tvmaze.com/uploads/images/original_untouched/1/2600.jpg"
        },
        "description": "Medium and original image URLs",
        "properties": {
          "medium": {
            "type": "string",
            "format": "uri"
          },
          "original": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ShowImage": {
        "type": "object",
        "example": {
          "id": 2600,
          "type": "poster",
          "main": true,
          "resolutions": {
            "original": {
              "url": "https://static.tvmaze.com/uploads/images/original_untouched/1/2600.jpg",
              "width": 680,
              "height": 1000
            },
            "medium": {
              "url": "https://static.tvmaze.com/uploads/images/medium_portrait/1/2600.jpg",
              "width": 210,
              "height": 295
            }
          }
        },
        "description": "An image asset associated with a show",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Image classification; null on rare records",
            "enum": [
              "poster",
              "banner",
              "background",
              "typography",
              null
            ]
          },
          "main": {
            "type": "boolean"
          },
          "resolutions": {
            "$ref": "#/components/schemas/ImageResolutions"
          }
        }
      },
      "ImageResolution": {
        "type": "object",
        "description": "A single resolution variant of a show image",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ImageResolutions": {
        "type": "object",
        "description": "Resolution variants of a show image; medium may be absent/null",
        "properties": {
          "original": {
            "$ref": "#/components/schemas/ImageResolution"
          },
          "medium": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageResolution"
              }
            ]
          }
        }
      },
      "Rating": {
        "type": "object",
        "description": "Average user rating; null when unrated",
        "example": {
          "average": 8.9
        },
        "properties": {
          "average": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        }
      },
      "Schedule": {
        "type": "object",
        "description": "Recurring air slot: time of day plus weekdays",
        "example": {
          "time": "20:00",
          "days": [
            "Friday"
          ]
        },
        "properties": {
          "time": {
            "type": "string"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ]
            }
          }
        }
      },
      "Externals": {
        "type": "object",
        "description": "Cross-service external IDs (tvrage/thetvdb/imdb), each nullable",
        "example": {
          "tvrage": 3548,
          "thetvdb": 78874,
          "imdb": "tt0303461"
        },
        "properties": {
          "tvrage": {
            "type": "integer",
            "nullable": true
          },
          "thetvdb": {
            "type": "integer",
            "nullable": true
          },
          "imdb": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Character": {
        "type": "object",
        "example": {
          "id": 49339,
          "url": "https://www.tvmaze.com/characters/49339/firefly-captain-malcolm-mal-reynolds",
          "name": "Captain Malcolm \"Mal\" Reynolds",
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/1/2601.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/1/2601.jpg"
          },
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/characters/49339"
            }
          }
        },
        "description": "A fictional character portrayed by a person",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/CharacterLinks"
              }
            ]
          }
        }
      },
      "PersonBase": {
        "type": "object",
        "example": {
          "id": 9135,
          "url": "https://www.tvmaze.com/people/9135/nathan-fillion",
          "name": "Nathan Fillion",
          "country": {
            "name": "Canada",
            "code": "CA",
            "timezone": "America/Toronto"
          },
          "birthday": "1971-03-27",
          "deathday": null,
          "gender": "Male",
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/248/620269.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/248/620269.jpg"
          },
          "updated": 1778261768,
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/people/9135"
            }
          }
        },
        "description": "A person record as it appears nested inside other resources.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ]
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "deathday": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "updated": {
            "type": "integer"
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/PersonLinks"
              }
            ]
          }
        }
      },
      "Person": {
        "type": "object",
        "example": {
          "id": 9135,
          "url": "https://www.tvmaze.com/people/9135/nathan-fillion",
          "name": "Nathan Fillion",
          "country": {
            "name": "Canada",
            "code": "CA",
            "timezone": "America/Toronto"
          },
          "birthday": "1971-03-27",
          "deathday": null,
          "gender": "Male",
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/248/620269.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/248/620269.jpg"
          },
          "updated": 1778261768,
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/people/9135"
            }
          }
        },
        "description": "A person (actor, crew member, etc.), with optionally embedded credits.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ]
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "deathday": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "updated": {
            "type": "integer"
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/PersonLinks"
              }
            ]
          },
          "_embedded": {
            "x-go-name": "Embedded",
            "allOf": [
              {
                "$ref": "#/components/schemas/PersonEmbedded"
              }
            ]
          }
        }
      },
      "LinkObject": {
        "type": "object",
        "example": {
          "href": "https://api.tvmaze.com/shows/180"
        },
        "description": "HAL link: an href to a related resource (draft-kelly-json-hal-08)",
        "properties": {
          "href": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "NamedLink": {
        "type": "object",
        "example": {
          "href": "https://api.tvmaze.com/episodes/13005",
          "name": "Serenity"
        },
        "description": "HAL link with a human-readable name for the target resource",
        "properties": {
          "href": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PersonLinks": {
        "type": "object",
        "description": "HAL _links for a person: self",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/LinkObject"
          }
        }
      },
      "CharacterLinks": {
        "type": "object",
        "description": "HAL _links for a character: self",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/LinkObject"
          }
        }
      },
      "SeasonLinks": {
        "type": "object",
        "description": "HAL _links for a season: self",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/LinkObject"
          }
        }
      },
      "AlternateListLinks": {
        "type": "object",
        "description": "HAL _links for an alternate list: self",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/LinkObject"
          }
        }
      },
      "AlternateEpisodeLinks": {
        "type": "object",
        "description": "HAL _links for an alternate episode. episodes is an array: one alternate entry can map to multiple canonical episodes.",
        "properties": {
          "episodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkObject"
            }
          }
        }
      },
      "CastCreditLinks": {
        "type": "object",
        "description": "HAL _links for a cast credit: show + character, both name+href links without images -- see CastCredit",
        "properties": {
          "show": {
            "$ref": "#/components/schemas/NamedLink"
          },
          "character": {
            "$ref": "#/components/schemas/NamedLink"
          }
        }
      },
      "GuestCastCreditLinks": {
        "type": "object",
        "description": "HAL _links for a guest cast credit: episode + character -- a different link vocabulary than CastCreditLinks",
        "properties": {
          "episode": {
            "$ref": "#/components/schemas/NamedLink"
          },
          "character": {
            "$ref": "#/components/schemas/NamedLink"
          }
        }
      },
      "CrewCreditLinks": {
        "type": "object",
        "description": "HAL _links for a crew credit: show",
        "properties": {
          "show": {
            "$ref": "#/components/schemas/NamedLink"
          }
        }
      },
      "ShowLinks": {
        "type": "object",
        "description": "HAL _links for a show: self plus previousepisode/nextepisode when such episodes exist",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/LinkObject"
          },
          "previousepisode": {
            "$ref": "#/components/schemas/NamedLink"
          },
          "nextepisode": {
            "$ref": "#/components/schemas/NamedLink"
          }
        }
      },
      "ShowEmbedded": {
        "type": "object",
        "description": "Related resources embedded in a Show. nextepisode/previousepisode appear only when such an episode exists.",
        "properties": {
          "episodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EpisodeBase"
            }
          },
          "seasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeasonBase"
            }
          },
          "cast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CastMember"
            }
          },
          "crew": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrewMember"
            }
          },
          "akas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aka"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShowImage"
            }
          },
          "alternatelists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlternateListBase"
            }
          },
          "nextepisode": {
            "$ref": "#/components/schemas/EpisodeBase"
          },
          "previousepisode": {
            "$ref": "#/components/schemas/EpisodeBase"
          }
        }
      },
      "ShowBase": {
        "type": "object",
        "description": "A TV show record as it appears nested inside other resources; nested records carry no embedded relations.",
        "example": {
          "id": 180,
          "url": "https://www.tvmaze.com/shows/180/firefly",
          "name": "Firefly",
          "type": "Scripted",
          "language": "English",
          "genres": [
            "Drama",
            "Adventure",
            "Science-Fiction"
          ],
          "status": "Ended",
          "runtime": 60,
          "averageRuntime": 64,
          "premiered": "2002-09-20",
          "ended": "2002-12-20",
          "officialSite": null,
          "schedule": {
            "time": "20:00",
            "days": [
              "Friday"
            ]
          },
          "rating": {
            "average": 8.9
          },
          "weight": 99,
          "network": {
            "id": 4,
            "name": "FOX",
            "country": {
              "name": "United States",
              "code": "US",
              "timezone": "America/New_York"
            },
            "officialSite": "https://www.fox.com/"
          },
          "webChannel": null,
          "dvdCountry": null,
          "externals": {
            "tvrage": 3548,
            "thetvdb": 78874,
            "imdb": "tt0303461"
          },
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/1/2600.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/1/2600.jpg"
          },
          "summary": "<p>Five hundred years in the future, a renegade crew aboard a small spacecraft tries to survive as they travel the unknown parts of the galaxy and evade warring factions as well as authority agents out to get them.</p>",
          "updated": 1779009049,
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/shows/180"
            },
            "previousepisode": {
              "href": "https://api.tvmaze.com/episodes/13005",
              "name": "Serenity"
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Scripted",
              "Reality",
              "Talk Show",
              "Game Show",
              "News",
              "Documentary",
              "Sports",
              "Variety",
              "Animation",
              "Anime",
              "Panel Show",
              "Award Show"
            ]
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "Running",
              "Ended",
              "To Be Determined",
              "In Development"
            ]
          },
          "runtime": {
            "type": "integer",
            "nullable": true
          },
          "averageRuntime": {
            "type": "integer",
            "nullable": true
          },
          "premiered": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "ended": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "weight": {
            "type": "integer"
          },
          "network": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Network"
              }
            ]
          },
          "webChannel": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/WebChannel"
              }
            ]
          },
          "dvdCountry": {
            "type": "object",
            "nullable": true,
            "description": "Country of the DVD release ordering for this nested show record; null for most shows",
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ]
          },
          "externals": {
            "$ref": "#/components/schemas/Externals"
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "updated": {
            "type": "integer"
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/ShowLinks"
              }
            ]
          }
        }
      },
      "Show": {
        "type": "object",
        "description": "A TV show, with optionally embedded related resources.",
        "example": {
          "id": 180,
          "url": "https://www.tvmaze.com/shows/180/firefly",
          "name": "Firefly",
          "type": "Scripted",
          "language": "English",
          "genres": [
            "Drama",
            "Adventure",
            "Science-Fiction"
          ],
          "status": "Ended",
          "runtime": 60,
          "averageRuntime": 64,
          "premiered": "2002-09-20",
          "ended": "2002-12-20",
          "officialSite": null,
          "schedule": {
            "time": "20:00",
            "days": [
              "Friday"
            ]
          },
          "rating": {
            "average": 8.9
          },
          "weight": 99,
          "network": {
            "id": 4,
            "name": "FOX",
            "country": {
              "name": "United States",
              "code": "US",
              "timezone": "America/New_York"
            },
            "officialSite": "https://www.fox.com/"
          },
          "webChannel": null,
          "dvdCountry": null,
          "externals": {
            "tvrage": 3548,
            "thetvdb": 78874,
            "imdb": "tt0303461"
          },
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/1/2600.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/1/2600.jpg"
          },
          "summary": "<p>Five hundred years in the future, a renegade crew aboard a small spacecraft tries to survive as they travel the unknown parts of the galaxy and evade warring factions as well as authority agents out to get them.</p>",
          "updated": 1779009049,
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/shows/180"
            },
            "previousepisode": {
              "href": "https://api.tvmaze.com/episodes/13005",
              "name": "Serenity"
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Scripted",
              "Reality",
              "Talk Show",
              "Game Show",
              "News",
              "Documentary",
              "Sports",
              "Variety",
              "Animation",
              "Anime",
              "Panel Show",
              "Award Show"
            ]
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "Running",
              "Ended",
              "To Be Determined",
              "In Development"
            ]
          },
          "runtime": {
            "type": "integer",
            "nullable": true
          },
          "averageRuntime": {
            "type": "integer",
            "nullable": true
          },
          "premiered": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "ended": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "weight": {
            "type": "integer"
          },
          "network": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Network"
              }
            ]
          },
          "webChannel": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/WebChannel"
              }
            ]
          },
          "dvdCountry": {
            "type": "object",
            "nullable": true,
            "description": "Country of the show's DVD release ordering; null for most shows",
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ]
          },
          "externals": {
            "$ref": "#/components/schemas/Externals"
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "updated": {
            "type": "integer"
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/ShowLinks"
              }
            ]
          },
          "_embedded": {
            "x-go-name": "Embedded",
            "allOf": [
              {
                "$ref": "#/components/schemas/ShowEmbedded"
              }
            ]
          }
        }
      },
      "EpisodeEmbedded": {
        "type": "object",
        "description": "Related resources embedded in an Episode.",
        "properties": {
          "show": {
            "$ref": "#/components/schemas/ShowBase"
          },
          "guestcast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CastMember"
            }
          },
          "guestcrew": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuestCrewMember"
            }
          }
        }
      },
      "EpisodeLinks": {
        "type": "object",
        "description": "HAL _links for an episode: self plus the owning show",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/LinkObject"
          },
          "show": {
            "$ref": "#/components/schemas/NamedLink"
          }
        }
      },
      "EpisodeBase": {
        "type": "object",
        "description": "A single TV episode record as it appears nested inside other resources.",
        "example": {
          "id": 12995,
          "url": "https://www.tvmaze.com/episodes/12995/firefly-1x01-the-train-job",
          "name": "The Train Job",
          "season": 1,
          "number": 1,
          "type": "regular",
          "airdate": "2002-09-20",
          "airtime": "20:00",
          "airstamp": "2002-09-21T00:00:00+00:00",
          "runtime": 60,
          "rating": {
            "average": 8
          },
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_landscape/9/23970.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/9/23970.jpg"
          },
          "summary": "<p>After finding themselves in a fight with supporters of The Alliance in a place that fairly resembles a bar, Mal, Zoe and Jayne walk away with knowledge that a man named Niska might have a new job for them.</p>",
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/episodes/12995"
            },
            "show": {
              "href": "https://api.tvmaze.com/shows/180",
              "name": "Firefly"
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "season": {
            "type": "integer"
          },
          "number": {
            "type": "integer",
            "nullable": true,
            "description": "Episode number within its season; null when the nested record is a special"
          },
          "type": {
            "type": "string",
            "enum": [
              "regular",
              "significant_special",
              "insignificant_special"
            ]
          },
          "airdate": {
            "type": "string",
            "description": "Air date of the nested episode record (YYYY-MM-DD); empty string when not yet announced"
          },
          "airtime": {
            "type": "string"
          },
          "airstamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Air timestamp of the nested episode record; null when the air date is not yet announced"
          },
          "runtime": {
            "type": "integer",
            "nullable": true
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/EpisodeLinks"
              }
            ]
          }
        }
      },
      "Episode": {
        "type": "object",
        "description": "A single TV episode, with optionally embedded related resources. Has no flat `show` property; the flat show on /schedule responses belongs to ScheduleEntry.",
        "example": {
          "id": 12995,
          "url": "https://www.tvmaze.com/episodes/12995/firefly-1x01-the-train-job",
          "name": "The Train Job",
          "season": 1,
          "number": 1,
          "type": "regular",
          "airdate": "2002-09-20",
          "airtime": "20:00",
          "airstamp": "2002-09-21T00:00:00+00:00",
          "runtime": 60,
          "rating": {
            "average": 8
          },
          "image": {
            "medium": "https://static.tvmaze.com/uploads/images/medium_landscape/9/23970.jpg",
            "original": "https://static.tvmaze.com/uploads/images/original_untouched/9/23970.jpg"
          },
          "summary": "<p>After finding themselves in a fight with supporters of The Alliance in a place that fairly resembles a bar, Mal, Zoe and Jayne walk away with knowledge that a man named Niska might have a new job for them.</p>",
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/episodes/12995"
            },
            "show": {
              "href": "https://api.tvmaze.com/shows/180",
              "name": "Firefly"
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "season": {
            "type": "integer"
          },
          "number": {
            "type": "integer",
            "nullable": true,
            "description": "null for specials"
          },
          "type": {
            "type": "string",
            "enum": [
              "regular",
              "significant_special",
              "insignificant_special"
            ]
          },
          "airdate": {
            "type": "string",
            "description": "Air date (YYYY-MM-DD); empty string when the air date is not yet announced"
          },
          "airtime": {
            "type": "string"
          },
          "airstamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Air timestamp; null when the air date is not yet announced"
          },
          "runtime": {
            "type": "integer",
            "nullable": true
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/EpisodeLinks"
              }
            ]
          },
          "_embedded": {
            "x-go-name": "Embedded",
            "allOf": [
              {
                "$ref": "#/components/schemas/EpisodeEmbedded"
              }
            ]
          }
        }
      },
      "SeasonEmbedded": {
        "type": "object",
        "description": "Related resources embedded in a Season.",
        "properties": {
          "episodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EpisodeBase"
            }
          }
        }
      },
      "SeasonBase": {
        "type": "object",
        "description": "A season record as it appears nested inside other resources.",
        "example": {
          "id": 106191,
          "url": "https://www.tvmaze.com/seasons/106191/bluey-season-2",
          "number": 2,
          "name": "",
          "episodeOrder": 52,
          "premiereDate": "2020-03-17",
          "endDate": "2021-04-04",
          "network": {
            "id": 1154,
            "name": "ABC Kids",
            "country": {
              "name": "Australia",
              "code": "AU",
              "timezone": "Australia/Sydney"
            },
            "officialSite": null
          },
          "webChannel": null,
          "image": null,
          "summary": null,
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/seasons/106191"
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "number": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Optional name of the nested season record; usually an empty string"
          },
          "episodeOrder": {
            "type": "integer",
            "nullable": true
          },
          "premiereDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "network": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Network"
              }
            ]
          },
          "webChannel": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/WebChannel"
              }
            ]
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/SeasonLinks"
              }
            ]
          }
        }
      },
      "Season": {
        "type": "object",
        "description": "A season of a TV show, with optionally embedded related resources.",
        "example": {
          "id": 106191,
          "url": "https://www.tvmaze.com/seasons/106191/bluey-season-2",
          "number": 2,
          "name": "",
          "episodeOrder": 52,
          "premiereDate": "2020-03-17",
          "endDate": "2021-04-04",
          "network": {
            "id": 1154,
            "name": "ABC Kids",
            "country": {
              "name": "Australia",
              "code": "AU",
              "timezone": "Australia/Sydney"
            },
            "officialSite": null
          },
          "webChannel": null,
          "image": null,
          "summary": null,
          "_links": {
            "self": {
              "href": "https://api.tvmaze.com/seasons/106191"
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "number": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Optional season name; usually an empty string"
          },
          "episodeOrder": {
            "type": "integer",
            "nullable": true
          },
          "premiereDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "network": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Network"
              }
            ]
          },
          "webChannel": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/WebChannel"
              }
            ]
          },
          "image": {
            "type": "object",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Image"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "_links": {
            "x-go-name": "Links",
            "allOf": [
              {
                "$ref": "#/components/schemas/SeasonLinks"
              }
            ]
          },
          "_embedded": {
            "x-go-name": "Embedded",
            "allOf": [
              {
                "$ref": "#/components/schemas/SeasonEmbedded"
              }
            ]
          }
        }
      },
      "CastMember": {
        "type": "object",
        "example": {
          "person": {
            "id": 9135,
            "url": "https://www.tvmaze.com/people/9135/nathan-fillion",
            "name": "Nathan Fillion",
            "country": {
              "name": "Canada",
              "code": "CA",
              "timezone": "America/Toronto"
            },
            "birthday": "1971-03-27",
            "deathday": null,
            "gender": "Male",
            "image": {
              "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/248/620269.jpg",
              "original": "https://static.tvmaze.com/uploads/images/original_untouched/248/620269.jpg"
            },
            "updated": 1778261768,
            "_links": {
              "self": {
                "href": "https://api.tvmaze.com/people/9135"
              }
            }
          },
          "character": {
            "id": 49339,
            "url": "https://www.tvmaze.com/characters/49339/firefly-captain-malcolm-mal-reynolds",
            "name": "Captain Malcolm \"Mal\" Reynolds",
            "image": {
              "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/1/2601.jpg",
              "original": "https://static.tvmaze.com/uploads/images/original_untouched/1/2601.jpg"
            },
            "_links": {
              "self": {
                "href": "https://api.tvmaze.com/characters/49339"
              }
            }
          },
          "self": false,
          "voice": false
        },
        "description": "A person-character pairing in a show's cast",
        "properties": {
          "person": {
            "$ref": "#/components/schemas/PersonBase"
          },
          "character": {
            "$ref": "#/components/schemas/Character"
          },
          "self": {
            "type": "boolean"
          },
          "voice": {
            "type": "boolean"
          }
        }
      },
      "CrewMember": {
        "type": "object",
        "example": {
          "type": "Creator",
          "person": {
            "id": 6085,
            "url": "https://www.tvmaze.com/people/6085/joss-whedon",
            "name": "Joss Whedon",
            "country": {
              "name": "United States",
              "code": "US",
              "timezone": "America/New_York"
            },
            "birthday": "1964-06-23",
            "deathday": null,
            "gender": "Male",
            "image": {
              "medium": "https://static.tvmaze.com/uploads/images/medium_portrait/20/50628.jpg",
              "original": "https://static.tvmaze.com/uploads/images/original_untouched/20/50628.jpg"
            },
            "updated": 1535811779,
            "_links": {
[...]
